.advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  text-align: center;
  background-color: @color-gray;
  padding: 25px 35px 24px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantages__item--pic {
  color: @color-white;
  background-color: @color-blue;
  padding: 39px 0 0;
}

.advantages__item--pic:first-child {
  padding-top: 55px;
  padding-bottom: 0;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__wrapper img {
  width: 320px;
  height: 260px;
  object-fit: cover;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 11px;
}

.advantages__number,
.advantages__description {
  color: @color-dark;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.advantages__number--pic,
.advantages__description--pic {
  color: @color-white;
}

.advantages__number {
  padding-bottom: 17px;
}

.advantages__description--pic {
  padding-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    background-color: @color-gray;
  }

  .advantages__item {
    padding: 42px 23px 40px;
  }

  .advantages__item--pic {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .advantages__wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }

  .advantages__wrapper--reverse {
    flex-direction: row-reverse;
  }

  .advantages__text {
    flex-grow: 1;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__number {
    padding-bottom: 23px;
  }

  .advantages__wrapper img {
    width: 512px;
    height: 256px;
  }

  .advantages__item--pic:first-child {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper img {
    width: 800px;
  }

  .advantages__item {
    padding: 43px 30px 62px;
  }

  .advantages__item--pic {
    padding: 0;
  }
}
