.button {
  display: inline-block;
  color: @color-white;
  background-color: @color-blue;
  padding: 14.5px 48px 17.5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;

  &:hover,
  &:focus {
    background-color: @color-blue-200;
  }

  &:active {
    color: rgba(@color-white, 0.3);
    background-color: @color-blue-300;
  }

  &:disabled {
    background-color: @color-gray-250;
  }
}

.button__review {
  margin: 50px auto 42px;
  padding: 18.5px 36px 13.5px;
}

.button__success,
.button__failure {
  padding: 18px 67px 14px;
  font-size: 18px;
  line-height: 26px;
}

.button__success {
  margin: 20px;
}

@media (min-width: @tablet-width) {
  .button {
    padding: 14.5px 136px 17.5px;
  }

  .button__review {
    padding: 18.5px 58px 13.5px;
    margin-top: 59px;
    margin-bottom: 60px;
    margin-left: 0;
    width: 100%;
  }

  .button__failure {
    margin-bottom: 49px;
    padding: 18px 122px 14px;
  }

  .button__success {
    margin: 44px 91px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    padding: 14.5px 137px 17.5px;
  }

  .button__review {
    padding: 18.5px 133px 13.5px;
    margin-top: 57px;
    margin-bottom: 66px;
  }
}
