.button {
  display: inline-block;
  color: @color-white;
  background-color: @color-blue;
  padding: 14.5px 48px 17.5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  &:hover,
  &:focus {
    background-color: @color-blue-200;
  }

  &:active {
    color: rgba(@color-white, 0.3);
    background-color: @color-blue-300;
  }

  &:disabled {
    background-color: @color-gray-250;
  }
}

.button__review {
  width: 100%;
  margin-top: 51px;
  margin-bottom: 48px;
  border: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .button {
    padding: 14.5px 121px 17.5px;
  }

  .button__review {
    padding: 18.5px 55px 13.5px;
  }
}
