.city-services {
  background-color: @color-white;
  color: @color-black;
  text-align: left;
  padding: 35px 40px 9px 18px;
}

.city-services__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.city-services__item {
  padding-left: 51px;
  position: relative;
  padding-bottom: 26px;
}

.city-services__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 16px;
}

.city-services__description {
  color: @color-dark;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.city-services__item--house::after {
  position: absolute;
  content: "";
  top: -9px;
  left: 3px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.city-services__item--souvenirs::after {
  position: absolute;
  content: "";
  top: -9px;
  left: 7px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.city-services__item--food::after {
  position: absolute;
  content: "";
  top: -9px;
  left: 0;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .city-services {
    padding: 0;
    text-align: center;
  }

  .city-services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .city-services__item {
    padding: 159px 25px 59px;
  }

  .city-services__title {
    font-size: 21px;
  }

  .city-services__item--food {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .city-services__item--house::after {
    position: absolute;
    content: "";
    top: 60px;
    left: calc(50% - 37px);
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }

  .city-services__item--souvenirs::after {
    top: 57px;
    left: calc(50% - 32px);
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
  }

  .city-services__item--food::after {
    top: 63px;
    left: calc(50% - 38px);
    width: 76px;
    height: 68px;
    background-size: 76px 68px;
  }
}

@media (min-width: @desktop-width) {
  .city-services__item {
    padding: 159px 50px 80px;
  }
}
