.client {
  padding-top: 20px;
  padding-bottom: 25px;
}

.client__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.client__item {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.client__item:not(:last-child) {
  margin-bottom: 20px;
}

.client__item label {
  padding-right: 13px;
  padding-top: 19px;
}

.client__item--contact {
  flex-wrap: wrap;
}

.client__item input {
  display: block;
  width: 100%;
  min-height: 58px;
  background-color: @color-gray-100;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  padding: 0;
  padding-left: 22px;
  flex-grow: 1;

  &:hover {
    background-color: @color-gray-250;
  }
}

.client__item input::placeholder {
  opacity: 1;
}

.client__item--contact label {
  padding: 0;
  padding-left: 22px;
  padding-bottom: 8px;
}

.client__item--contact:not(:last-child) {
  margin-bottom: 14px;
}

.client__tel {
  background-image: url("../img/phone.svg"), linear-gradient(to left, @color-gray-200 58px, transparent 58px);
  background-repeat: no-repeat;
  background-position: right 20px top 50%, 0 0;
  padding-right: 78px;
}

.client__email {
  background-image: url("../img/mail.svg"), linear-gradient(to left, @color-gray-200 58px, transparent 58px);
  background-repeat: no-repeat;
  background-position: right 20px top 50%, 0 0;
  padding-right: 78px;
}

@media (min-width: @tablet-width) {
  .client {
    padding: 0;
  }

  .client--contact {
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
  }

  .client--contact legend {
    margin: 0 auto 20.5px;
  }

  .client__item--contact:not(:last-child) {
    margin-bottom: 25px;
  }

  .client--name {
    margin-left: 58px;
    position: relative;
  }

  .client--name legend {
    margin-bottom: 54px;
  }

  .client--name::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 292px;
    background-color: @color-gray-300;
    top: -80px;
    left: -58px;
  }

  .client--contact::after,
  .client--contact::before {
    position: absolute;
    display: block;
    content: "";
    width: 123px;
    height: 1px;
    background-color: @color-gray-300;
    top: -33px;
  }

  .client--contact::after {
    left: 0;
  }

  .client--contact::before {
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback--sight .feedback__list {
    display: flex;
  }

  .client__item--contact {
    flex-wrap: nowrap;
    margin: 0;
  }

  .client__item--contact:not(:last-child) {
    margin-bottom: 0;
  }

  .client__item--contact:first-child {
    padding-right: 79px;
  }

  .client__item--contact label {
    padding: 0;
    padding-top: 18px;
    margin-right: 16px;
  }

  .client--name {
    margin-left: 79px;
  }

  .client--contact legend {
    margin-bottom: 71px;
  }

  .client--contact .client__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .client__hidden {
    display: none;
  }

  .client--contact::after,
  .client--contact::before {
    top: -84px;
  }
}
