.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback__item {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 11px;
  padding-left: 78px;
  position: relative;
}

.feedback legend {
  margin-bottom: 21px;
}

.feedback__item:last-child {
  margin-bottom: 20px;
}

.feedback__radio label {
  min-height: 58px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.feedback__checkbox label {
  min-height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.feedback__checkbox {
  margin-bottom: 25px;
}

.feedback__checkbox:last-child {
  margin-bottom: 24px;
}

.feedback__radio--input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border: 4px solid @color-gray-100;
  background-color: @color-gray-100;
  border-radius: 50%;
}

.feedback__radio--input:checked + label::after {
  content: "";
  position: absolute;
  top: 17.5px;
  left: 17px;
  width: 18px;
  height: 18px;
  border: 2px solid @color-black;
  background-color: @color-black;
  border-radius: 50%;
}

.feedback__checkbox--input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border: 5px solid @color-gray-100;
  background-color: @color-gray-100;
  border-radius: 5%;
}

.feedback__checkbox--input:checked + label::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 20px;
  width: 24px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .feedback--impression {
    grid-row: 1;
  }

  .feedback--impression legend {
    margin-bottom: 57px;
  }

  .feedback__item {
    margin-bottom: 20px;
    padding-left: 75px;
  }

  .feedback--sight {
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
  }

  .feedback--sight legend {
    margin: 0 auto 44px;
  }

  .feedback--sight .feedback__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 95px;
    margin-right: 35px;
  }

  .feedback__checkbox {
    padding-left: 80px;
  }

  .feedback__checkbox:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
  }

  .feedback__checkbox:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .feedback--sight::after {
    position: absolute;
    display: block;
    content: "";
    width: 123px;
    height: 1px;
    background-color: @color-gray-300;
    top: -70px;
    left: 0;
  }

  .feedback--sight::before {
    position: absolute;
    display: block;
    content: "";
    width: 123px;
    height: 1px;
    background-color: @color-gray-300;
    top: -70px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback--sight .feedback__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }

  .feedback__checkbox:not(:last-child) {
    margin: 0;
    margin-right: 40px;
  }

  .feedback__list .feedback__checkbox {
    margin-bottom: 10px;
  }

  .feedback--impression legend {
    margin-bottom: 57px;
    margin-left: 80px;
  }

  .feedback__radio {
    margin-left: 3px;
  }
}
