.feedback {
  padding-top: 36px;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback__item {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding-bottom: 43px;
  padding-left: 78px;
  position: relative;
}

.feedback__radio--input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 48px;
  height: 48px;
  border: 5px solid @color-gray-100;
  background-color: @color-gray-100;
  border-radius: 50%;
}

.feedback__radio--input + label::after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 17px;
  width: 18px;
  height: 18px;
  border: 3px solid @color-black;
  background-color: @color-black;
  border-radius: 50%;
}

.feedback__checkbox--input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  width: 46px;
  height: 46px;
  border: 5px solid @color-gray-100;
  background-color: @color-gray-100;
  border-radius: 5%;
}

.feedback__checkbox--input + label::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 5px;
  width: 24px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .feedback--impression {
    grid-row: 1;
  }

  .feedback--sight {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .feedback--sight .feedback__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .feedback--sight .feedback__list {
    display: flex;
  }
}

