.gallery__list {
  list-style: none;
}

.gallery__item {
  margin: 0;
}

.gallery__title,
.gallery__text,
.gallery__info {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.gallery__text {
  font-weight: 400;
}
