.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.gallery__item {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 15px;
  position: relative;
}

.gallery__item::after {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    display: block;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @color-gray-300;
    top: 0;
    left: -20px;
  }
}

.gallery__item:last-child::before {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    display: block;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @color-gray-300;
    bottom: 0;
    left: -20px;
  }
}

.gallery__img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  display: block;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .gallery__item {
    background-color: @color-gray-100;
    padding: 0;
  }

  .gallery__item:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .gallery__img {
    display: block;
    width: 100%;
    height: 267px;
  }

  .gallery__img--big {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  .gallery__item {
    position: relative;
    color: @color-white;
  }

  .gallery__img {
    width: 100%;
  }

  .gallery__img--big {
    width: 1200px;
  }
}
