.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.gallery__item {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 15px;
}

.gallery__title,
.gallery__text,
.gallery__info {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.gallery__title {
  padding-top: 10px;
}

.gallery__text {
  font-weight: 400;
  text-transform: none;
  color: @color-dark;
}

.gallery__info {
  position: relative;
  padding-top: 13px;
  padding-left: 37px;
}

.gallery__info::after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 0;
  background-image: url("../img/like-icon.svg");
  width: 23px;
  height: 21px;
}

.gallery__img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  .gallery__item {
    background-color: @color-gray-100;
  }

  .gallery__item:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .gallery__img {
    width: 324px;
    height: 267px;
  }

  .gallery__img--big {
    width: 648px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  .gallery__item {
    background-color: @color-black, 0.3;
  }

  .gallery__img {
    width: 400px;
  }

  .gallery__img--big {
    width: 1200px;
  }
}
