.intro {
  min-height: 389px;
  background-color: @color-gray;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/grand-canyon-tablet.jpg");
  }
}

.intro__slogan-image {
  display: block;
  margin: auto;
}
