.modal {
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
}

.modal__success,
.modal__failure {
  display: block;
}

.modal__title,
.modal__text {
  margin: 0;
  padding: 0 41px;
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.modal__text {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @color-dark;
}

.modal__button-success {
  background-color: @color-gray-100;
}
