.modal {
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
  background-color: @color-white;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal--open {
  display: block;
}

.modal__title,
.modal__text {
  margin: 0;
  padding: 0 41px;
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.modal__text {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @color-dark;
}

.modal__button-success {
  background-color: @color-gray-100;
}

@media (max-width: @mobile-width-only) {
  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    min-height: 347px;
    box-shadow: 0 7px 12px 0 rgba(@color-black, 0.15);
  }

  .modal__failure {
    width: 400px;
  }

  .modal__success {
    width: 640px;
  }

  .modal__title,
  .modal__text {
    padding: 0 47px;
  }

  .modal__title {
    margin-top: 52px;
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__text {
    margin-bottom: 40px;
  }

  .modal__success .modal__title {
    margin-top: 55px;
  }

  .modal__success .modal__text {
    margin-bottom: 32px;
  }
}
