.page-footer {
  text-align: center;
  background-color: @color-white;
}

.page-footer__text {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 28.5px;
  padding-bottom: 33.5px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .page-footer__wrapper {
    margin: 0 auto;
    max-width: @tablet-width;
  }

  .page-footer__text {
    padding-top: 48.5px;
    padding-bottom: 45.5px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    max-width: @desktop-width;
  }
}
