.page-header {
  min-height: 56px;
  position: relative;
  background-color: @color-white;
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  left: calc(50% - 51px);
}

@media (max-width: @mobile-width-only) {
  .page-header__logo {
    bottom: -34px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    width: 187px;
    height: 97px;
    background-image: url("../img/vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 187px 97px;
    left: calc(50% - 93px);
  }

  .page-header__logo-image {
    position: absolute;
    left: 43px;
  }
}
