.page-header {
  min-height: 56px;
  position: relative;
  background-color: @color-white;
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  left: calc(50% - 51px);
}

@media (max-width: @mobile-width-only) {
  .page-header__logo {
    bottom: -34px;
  }
}
