.panel__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.panel__item:not(.panel__item--range) {
  @media (max-width: @mobile-width-only) {
    background-color: @color-gray-100;
    height: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.panel__item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.panel__item--replay {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 24px;
}

.panel__item--captions,
.panel__item--screen {
  text-align: center;
}

.panel__item--replay button {
  width: 16px;
  height: 20px;
}

.panel__item--range {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(@color-black, 0.6);
  position: relative;
}

.panel__range-controls {
  width: 280px;
  height: 45px;
}

.panel__scale {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(@color-white, 0.2);
}

.panel__toggle {
  position: absolute;
  top: 16px;
  left: 56px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: @color-white;
}

@media (min-width: @tablet-width) {
  .panel__list {
    display: flex;
    justify-content: space-evenly;
    width: 648px;
    background-color: rgba(@color-black, 0.6);
  }

  .panel__item {
    height: 20px;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .panel__item path {
    fill: @color-white;
    fill-opacity: 1;
  }

  .panel__item--replay {
    padding-left: 0;
  }

  .panel__range-controls {
    width: 389px;
    height: auto;
  }

  .panel__item--range {
    background-color: transparent;
  }

  .panel__scale {
    top: 45px;
    left: 0;
    width: 389px;
  }

  .panel__toggle {
    top: 40px;
    left: 111px;
  }
}


@media (min-width: @desktop-width) {
  .panel__list {
    width: 800px;
  }

  .panel__range-controls {
    width: 540px;
  }

  .panel__scale {
    width: 540px;
  }
}
