.panel__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.panel__item:not(.panel__item--range) {
  @media (max-width: @mobile-width-only) {
    background-color: @color-gray-100;
    height: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.panel__item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.panel__icon {
  fill: @color-gray-400;
  fill-opacity: 1;
}

.panel__item--replay {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 24px;
}

.panel__item--replay:hover .panel__icon-replay,
.panel__item--captions:hover .panel__icon-captions,
.panel__item--screen:hover .panel__icon-screen {
  fill: @color-dark;
}

.panel__item--replay:active .panel__icon-replay,
.panel__item--captions:active .panel__icon-captions,
.panel__item--screen:active .panel__icon-screen {
  fill: rgba(@color-dark, 0.3);
}

.panel__item--captions {
  padding-right: 4px;
  text-align: right;
}

.panel__item--screen {
  padding-left: 27px;
}

.panel__item--replay button {
  width: 16px;
  height: 20px;
}

.panel__item--range {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(@color-black, 0.6);
  position: relative;
}

.panel__range-controls {
  width: 280px;
  height: 45px;
}

.panel__scale {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(@color-white, 0.2);
}

.panel__toggle {
  position: absolute;
  top: 19px;
  left: 57.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: @color-white;
}

@media (min-width: @tablet-width) {
  .panel__list {
    display: flex;
    justify-content: flex-start;
    width: 648px;
    background-color: rgba(@color-black, 0.6);
  }

  .panel__item {
    height: 20px;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .panel__icon {
    fill: @color-white;
  }

  .panel__item--replay {
    padding-left: 35px;
  }

  .panel__item--captions {
    padding-left: 42px;
    padding-right: 0;
  }

  .panel__item--screen {
    padding-left: 31px;
  }

  .panel__item--replay:hover .panel__icon-replay,
  .panel__item--captions:hover .panel__icon-captions,
  .panel__item--screen:hover .panel__icon-screen {
    fill: rgba(@color-white, 0.6);
  }

  .panel__item--replay:active .panel__icon-replay,
  .panel__item--captions:active .panel__icon-captions,
  .panel__item--screen:active .panel__icon-screen {
    fill: rgba(@color-white, 0.3);
  }

  .panel__range-controls {
    width: 389px;
    height: auto;
  }

  .panel__item--range {
    background-color: transparent;
    padding-left: 42px;
  }

  .panel__scale {
    top: 45px;
    left: 42px;
    width: 389px;
  }

  .panel__toggle {
    top: 41px;
    left: 155px;
  }
}


@media (min-width: @desktop-width) {
  .panel__list {
    width: 800px;
  }

  .panel__range-controls {
    width: 540px;
  }

  .panel__scale {
    width: 540px;
  }

  .panel__toggle {
    top: 42px;
    left: 153.5px;
    width: 10px;
    height: 10px;
  }
}
