.review-comment {
  display: flex;
  flex-wrap: wrap;
}

.review-comment label {
  margin-bottom: 15px;
}

.review-comment textarea {
  display: block;
  width: 100%;
  min-height: 134px;
  background-color: @color-gray-100;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  resize: none;
  padding: 13px 22px;
}

.review-comment textarea::placeholder {
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .review-comment {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .review-comment label {
    margin: 19px auto 54px;
  }

  .review-comment__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
