.review-subtitle {
  text-align: center;
  padding: 36px 20px 17px;
  background-color: @color-white;
}

.review-subtitle__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;
}

.review-subtitle__description {
  color: @color-dark;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .review-subtitle {
    padding-top: 43.5px;
    padding-bottom: 52.5px;
  }
}
