.review {
  padding: 0 20px;
}

.review__item {
  border: none;
  margin: 0;
  padding: 0;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  padding-top: 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .review {
    padding: 0 60px;
  }

  .review__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
