.review-comment {
  display: flex;
  flex-direction: column;
}

.review-comment .review__title {
  padding-bottom: 15px;
}

.review-comment textarea {
  display: block;
  width: 100%;
  min-height: 160px;
}
