.review-comment {
  display: flex;
  flex-wrap: wrap;
}

.review-comment label {
  margin-bottom: 15px;
}

.review-comment textarea {
  display: block;
  width: 100%;
  min-height: 134px;
  background-color: @color-gray-100;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  resize: none;
  padding: 13px 22px;
}

.review-comment textarea::placeholder {
  opacity: 1;
}

.review-comment__info {
  margin: 0 auto;
}

.review-comment__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: @color-dark;
  text-align: right;
  margin-top: 77px;
}

@media (max-width: @mobile-width-only) {
  .review-comment__text {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .review-comment {
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
  }

  .review-comment label {
    margin: 19px auto 54px;
  }

  .review-comment__info {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .review-comment::after,
  .review-comment::before {
    position: absolute;
    display: block;
    content: "";
    width: 123px;
    height: 1px;
    background-color: @color-gray-300;
    top: 32px;
  }

  .review-comment::after {
    left: 0;
  }

  .review-comment::before {
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .review-comment {
    width: 960px;
  }

  .review-comment label {
    margin-top: 9px;
  }

  .review-comment::after,
  .review-comment::before {
    top: 22px;
  }
}
