.search {
  text-align: center;
  padding: 33px 18px 49px;
  background-color: @color-white;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 19px;
}

.search__description {
  color: @color-dark;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 27px;
}
