.search {
  text-align: center;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
}

.search__description {
  color: @color-dark;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
