.subtitle {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 43.5px;
    padding-bottom: 52.5px;
  }
}

.subtitle__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.subtitle__description {
  color: @color-dark;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
