@media (min-width: @tablet-width) {
  .video {
    padding: 0 60px;
  }

  .video__img {
    width: 648px;
    height: 500px;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 0 200px;
  }

  .video__img {
    width: 800px;
  }
}
