.video__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 44px;
}

.video__img {
  display: block;
  width: 320px;
  height: 201px;
  padding-bottom: 66px;
}

.video__panel {
  position: absolute;
  bottom: 0;
  left: calc(50%-22px);
}

@media (min-width: @tablet-width) {
  .video {
    padding: 0 60px;
  }

  .video__img {
    display: block;
    width: 648px;
    height: 500px;
    object-fit: cover;
    padding-bottom: 0;
  }

  .video__panel {
    position: absolute;
    bottom: 0;
    left: calc(50% - 324px);
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 0 200px;
  }

  .video__img {
    width: 800px;
  }

  .video__panel {
    left: calc(50% - 400px);
  }
}
