@color-white: #ffffff;
@color-black: #000000;
@color-dark: #333333;
@color-blue: #81b3d2;
@color-gray: #eeeeee;
@color-gray-100: #f2f2f2;
@color-gray-200: #e6e6e6;
@color-gray-300: #d6d6d6;
@color-gray-400: #5c6870;
